.Single{
    :global{
        .lyrics-wraper{
            overflow: hidden;
        }
   
        ul{
         line-height: 35px;

         li{
             letter-spacing: 2px;
         }
        }
    }
}